body {
  font-family: 'Open Sans', sans-serif;
  color: #e3bab3;
  background: #36384c;
  font-size: 20px;
  line-height: 22px;
  overflow-x: hidden;
  text-align: center;
}
/*
#E9DCCD CREAM

#E3BAB3 PETAL

#613A43 BURGUNDY

#849974 FRESH

#36384C CHARCOAL
*/

h2 {
  font-size: 32px;
}

.container {
  padding: 20px;
  background-color: #36384c;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

#chatWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
}

#chatContainer {
  margin-right: 10px;
  text-align: left;
  border: 1px #e3bab3 solid;
  background-color: #cbcbcb;
  height: 100%;
  font-size: 14px;
  width: 70%;
  display: flex;
  flex-direction: column;
}

#chatBox {
  overflow-y: scroll;
  padding: 0 0 0 5px;
}

#usersBox {
  overflow-y: scroll;
  padding: 0 0 0 5px;
}

#usersContainer {
  text-align: left;
  border: 1px #e3bab3 solid;
  background-color: #cbcbcb;
  height: 100%;
  font-size: 14px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.chatHeading {
  background: #36384c;
  font-size: 18px;
  height: 25px;
  margin: 2px;
  padding: 5px;
}

#chat-form {
  text-align: left;
  display: inline;
}

#user-name {
  background-color: #cbcbcb;
  border: 1px solid #e3bab3;
  margin-top: 5px;
  font-size: 18px;
}

#keyboard {
  padding-top: 10px;
}

#soundOnButtonDiv {
  display: inline;
  text-align: right;
  font-size: 20px;
}

#soundOnButton {
  font-size: 18px;
  background-color: #cbcbcb;
}

#midiInfo {
  display: inline;
  font-size: 20px;
}

#midiDevice {
  display: inline;
  font-size: 20px;
}
