body {
  font-family: 'Open Sans', sans-serif;
  color: #e3bab3;
  background: #36384c;
  font-size: 20px;
  line-height: 22px;
  overflow-x: hidden;
  text-align: center;
}
/*
#E9DCCD CREAM

#E3BAB3 PETAL

#613A43 BURGUNDY

#849974 FRESH

#36384C CHARCOAL
*/

h2 {
  font-size: 32px;
}

.container {
  padding: 20px;
  background-color: #36384c;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid #ccc;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
th,
td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}

#chatWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 300px;
}

#chatContainer {
  margin-right: 10px;
  text-align: left;
  border: 1px #e3bab3 solid;
  background-color: #cbcbcb;
  height: 100%;
  font-size: 14px;
  width: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
}

#chatBox {
  overflow-y: scroll;
  padding: 0 0 0 5px;
  height: 220px;
}

#usersBox {
  overflow-y: scroll;
  padding: 0 0 0 5px;
}

#usersContainer {
  text-align: left;
  border: 1px #e3bab3 solid;
  background-color: #cbcbcb;
  height: 100%;
  font-size: 14px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.chatHeading {
  background: #36384c;
  font-size: 18px;
  height: 25px;
  margin: 2px;
  padding: 5px;
}

#joinForm {
  text-align: left;
  display: inline;
}

#userName {
  background-color: #cbcbcb;
  border: 1px solid #e3bab3;
  margin-top: 5px;
  font-size: 18px;
}

#keyboard {
  padding-top: 10px;
}

#joinButtonDiv {
  display: inline;
  text-align: right;
  font-size: 20px;
}

#joinButton {
  font-size: 18px;
  background-color: #cbcbcb;
}

#midiInfo {
  display: inline;
  font-size: 20px;
  margin-left: 30px;
}

#midiDevice {
  display: inline;
  font-size: 20px;
}

#chatMessage {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 38px;
}

.inputWrapper {
  position: absolute;
  right: 110px;
  left: 0px;
  top: 0px;
  bottom: 0px;
}

.formWrapper {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 37px;
  display: inline-block;
}

.formWrapper input {
  height: 100%;
  width: 100%;
  padding: 8px 10px;
  float: left;
  color: #36384c;
  outline-color: #e3bab3;
  border: 0;
  background: #e6e6e6;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* Form submit button */
.formWrapper button {
  font-size: 18px;
  color: #e3bab3;
  background-color: #36384c;
  position: absolute;
  right: 0px;
  top: 0px;
  overflow: visible;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 37px;
  width: 104px;
  outline-color: #e3bab3;
}

.formWrapper button:disabled {
  background: #dddddd;
}

.formWrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}
